<div class='card is-shadow'>
    <div class="card-content">
        <div class="content">
            <p class="title">
           ¿Que estoy aprendiendo en Lomax? 
            </p>
                <p>Basicamente todo para paginas web profesional:
                </p>  
                <ol type=”A”>   
                    <li>Manejo de repositorios en git/github</li>
                    <li>Sintaxis de lenguaje ruby</li>
                    <li>Crear proyectos de ruby on rails</li>
                    <li>Conectar una base de datos externa a un proyecto ruby on rails</li>
                    <li>Mejorar la apariencia de la paginas con scss</li>
                </ol>


        </div>

        <img src="/assets/ruby.png" width="350" height="291">
    </div>
</div>