<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Implementacion de Bulma</strong> by Emerson Cardona.
    </p>
    <p>
      <strong>Lomax Technologies</strong>
    </p>
  </div>
</footer>

